In [129]:
#importing libraries
import boto3
import pandas as pd
import time
from io import StringIO # python3; python2; BytesIO

In [130]:
AWS_ACCESS_KEY = "***************"
AWS_SECRET_KEY = "********************************"
AWS_REGION = "us-east-1"
SCHEMA_NAME = "covid-19"
S3_STAGING_DIR = "s3://covid-dwbi-project-test-bucket/output/"
S3_BUCKET_NAME = "covid-dwbi-project-test-bucket"
S3_OUTPUT_DIRECTORY = "output"

In [131]:
# Initialize Athena client
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [132]:
Dict = {} 
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            #This functions only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [133]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [134]:
response

{'QueryExecutionId': 'fc9c4db6-752b-47f3-a917-66404c025874',
 'ResponseMetadata': {'RequestId': '3a429942-19ca-4efa-9535-c0ea85dd886c',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Wed, 17 Apr 2024 15:43:58 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '3a429942-19ca-4efa-9535-c0ea85dd886c'},
  'RetryAttempts': 0}}

In [135]:
enigma_jhud = download_and_load_query_results(athena_client, response)

In [141]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_county",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_county = download_and_load_query_results(athena_client, response)

In [142]:
nytimes_data_in_usa_us_county

             date     county       state     fips  cases  deaths
0      2020-01-21  Snohomish  Washington  53061.0    1.0     0.0
1      2020-01-22  Snohomish  Washington  53061.0    1.0     0.0
2      2020-01-23  Snohomish  Washington  53061.0    1.0     0.0
3      2020-01-24       Cook    Illinois  17031.0    1.0     0.0
4      2020-01-24  Snohomish  Washington  53061.0    1.0     0.0
...           ...        ...         ...      ...    ...     ...
26895  2020-04-02    Lincoln    Kentucky  21137.0    1.0     0.0
26896  2020-04-02      Logan    Kentucky  21141.0    2.0     0.0
26897  2020-04-02       Lyon    Kentucky  21143.0    2.0     0.0
26898  2020-04-02    Madison    Kentucky  21151.0   12.0     0.0
26899  2020-04-02     Marion         Ken      NaN    NaN     NaN

[26900 rows x 6 columns]

In [144]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
nytimes_data_in_usa_us_states = download_and_load_query_results(athena_client, response)

In [145]:
nytimes_data_in_usa_us_states

            date          state  fips  cases  deaths
0     2020-01-21     Washington    53      1       0
1     2020-01-22     Washington    53      1       0
2     2020-01-23     Washington    53      1       0
3     2020-01-24       Illinois    17      1       0
4     2020-01-24     Washington    53      1       0
...          ...            ...   ...    ...     ...
3749  2020-05-09       Virginia    51  23196     827
3750  2020-05-09     Washington    53  17763     925
3751  2020-05-09  West Virginia    54   1347      53
3752  2020-05-09      Wisconsin    55   9939     398
3753  2020-05-09        Wyoming    56    653       7

[3754 rows x 5 columns]

In [147]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datacountypopulation",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datasets_in_countypopulation = download_and_load_query_results(athena_client, response)

In [148]:
static_datasets_in_countypopulation

,id,id2,county,state,population estimate 2018
0,0500000US01001,1001,Autauga,Alabama,55601
1,0500000US01003,1003,Baldwin,Alabama,218022
2,0500000US01005,1005,Barbour,Alabama,24881
3,0500000US01007,1007,Bibb,Alabama,22400
4,0500000US01009,1009,Blount,Alabama,57840
...,...,...,...,...,...
3215,0500000US72145,72145,Vega Baja Municipio,Puerto Rico,50185
3216,0500000US72147,72147,Vieques Municipio,Puerto Rico,8364
3217,0500000US72149,72149,Villalba Municipio,Puerto Rico,21476
3218,0500000US72151,72151,Yabucoa Municipio,Puerto Rico,32158
3219,0500000US72153,72153,Yauco Municipio,Puerto Rico,33860

In [150]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datacountrycode",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datasets_in_countrycode = download_and_load_query_results(athena_client, response)

In [151]:
static_datasets_in_countrycode

,country,alpha-2 code,alpha-3 code,numeric code,latitude,longitude
0,Afghanistan,AF,AFG,4.0,33.0000,65.0
1,Albania,AL,ALB,8.0,41.0000,20.0
2,Algeria,DZ,DZA,12.0,28.0000,3.0
3,American Samoa,AS,ASM,16.0,-14.3333,-170.0
4,Andorra,AD,AND,20.0,42.5000,1.6
...,...,...,...,...,...,...
251,Wallis and Futuna,WF,WLF,876.0,-13.3000,-176.2
252,Western Sahara,EH,ESH,732.0,24.5000,-13.0
253,Yemen,YE,YEM,887.0,15.0000,48.0
254,Zambia,ZM,ZMB,894.0,-15.0000,30.0
255,Zimbabwe,ZW,ZWE,716.0,-20.0000,30.0

In [153]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datastate_abv",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
static_datasets_in_state_abv = download_and_load_query_results(athena_client, response)

In [154]:
static_datasets_in_state_abv

                    col0          col1
0                  State  Abbreviation
1                Alabama            AL
2                 Alaska            AK
3                Arizona            AZ
4               Arkansas            AR
5             California            CA
6               Colorado            CO
7            Connecticut            CT
8               Delaware            DE
9   District of Columbia            DC
10               Florida            FL
11               Georgia            GA
12                Hawaii            HI
13                 Idaho            ID
14              Illinois            IL
15               Indiana            IN
16                  Iowa            IA
17                Kansas            KS
18              Kentucky            KY
19             Louisiana            LA
20                 Maine            ME
21               Montana            MT
22              Nebraska            NE
23                Nevada            NV
24         New Hampshire            NH
25            New Jersey            NJ
26            New Mexico            NM
27              New York            NY
28        North Carolina            NC
29          North Dakota            ND
30                  Ohio            OH
31              Oklahoma            OK
32                Oregon            OR
33              Maryland            MD
34         Massachusetts            MA
35              Michigan            MI
36             Minnesota            MN
37           Mississippi            MS
38              Missouri            MO
39          Pennsylvania            PA
40          Rhode Island            RI
41        South Carolina            SC
42          South Dakota            SD
43             Tennessee            TN
44                 Texas            TX
45                  Utah            UT
46               Vermont            VT
47              Virginia            VA
48            Washington            WA
49         West Virginia            WV
50             Wisconsin            WI
51               Wyoming            WY

In [156]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_datastates_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
covid_19_testing_data_in_states_daily = download_and_load_query_results(athena_client, response)

In [157]:
covid_19_testing_data_in_states_daily

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2680,20210119,UT,326221,NaN,1385896.0,NaN,totalTestsViral,2472897,638.0,12645.0,...,NaN,7.0,69.0,c4e353a904e4bb014f1155a257dd31d5bd87d31f,0.0,0.0,0.0,0.0,0.0,NaN
2681,20210119,VA,451076,84917.0,NaN,350.0,totalTestEncountersViral,4878157,3173.0,20066.0,...,NaN,59.0,84.0,1ecd4c4abd7f4e6777e897a255f6d1fb76a7d189,0.0,0.0,0.0,0.0,0.0,NaN
2682,20210119,VI,2260,NaN,37119.0,112.0,posNeg,39379,NaN,NaN,...,NaN,0.0,0.0,12b2c89922709ee808c87895e10d96bf0fdf4d69,0.0,0.0,0.0,0.0,0.0,NaN
2683,20210119,VT,10321,262.0,280334.0,NaN,totalTestsViral,813355,43.0,NaN,...,NaN,0.0,0.0,b42f5e0224e297b2500be4a69fc6d73b9a93c9f7,0.0,0.0,0.0,0.0,0.0,NaN
2684,20210119,WA,289939,12535.0,NaN,NaN,totalTestEncountersViral,4233758,1066.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_dataus_daily",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
covid_19_testing_data_in_us_daily = download_and_load_query_results(athena_client, response)

In [163]:
covid_19_testing_data_in_us_daily

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,20200117,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-17T24:00:00Z,NaN,0,0,0,0,0,0,0,5fd7ed7fb0f83565ea0aaaf5ff6104e5860be2d6
416,20200116,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-16T24:00:00Z,NaN,0,0,0,0,0,0,0,4c0f2ea879eefec1a18a93bcd8a382ea56cd452d
417,20200115,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-15T24:00:00Z,NaN,0,0,0,0,0,0,0,8a449023413eea473277416e9e30ae126c6af047
418,20200114,1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-14T24:00:00Z,NaN,0,0,0,0,0,0,0,fe399466a3dfbe0221a18ed5cacb39a3882d72f8
419,20200113,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2020-01-13T24:00:00Z,NaN,0,0,0,0,0,0,0,5672debf187b183735be63f6bd85834ead0047ff

In [165]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_dataus_total_latest",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
covid_19_testing_data_in_us_total_latest = download_and_load_query_results(athena_client, response)

In [166]:
covid_19_testing_data_in_us_total_latest

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [167]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database": SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation": S3_STAGING_DIR,
        "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [168]:
rearc_usa_hospital_beds

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606532
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,826,Northside Hospital,Short Term Acute Care Hospital,6000 49th St N,NaN,St Petersburg,FL,33709,Pinellas,Florida,...,288.0,221.0,32,32,0.0,0.588421,10.0,67,27.825341,-82.702445
826,827,Largo Medical Center,Short Term Acute Care Hospital,201 14th St Sw,NaN,Largo,FL,33770,Pinellas,Florida,...,286.0,250.0,22,22,0.0,0.638869,10.0,36,27.915015,-82.803637
827,828,St Petersburg General Hospital,Short Term Acute Care Hospital,6500 38th Ave N,NaN,Kenneth City,FL,33710,Pinellas,Florida,...,215.0,168.0,21,21,0.0,0.347922,4.0,47,27.815581,-82.720100
828,829,Palms of Pasadena Hospital,Short Term Acute Care Hospital,1501 Pasadena Ave S,NaN,South Pasadena,FL,33707,Pinellas,Florida,...,307.0,167.0,18,18,0.0,0.426479,4.0,140,27.752612,-82.739687
829,830,Morton Plant Hospital,Short Term Acute Care Hospital,300 Pinellas St,NaN,Clearwater,FL,33756,Pinellas,Florida,...,599.0,558.0,38,38,15.0,0.608117,10.0,41,27.953357,-82.802872

In [170]:
new_header = static_datasets_in_state_abv.iloc[0] #grab the first row of the header
static_datasets_in_state_abv = static_datasets_in_state_abv[1:] #take the data only from 1th row and not 0th (slicing)
static_datasets_in_state_abv.columns = new_header

In [171]:
static_datasets_in_state_abv

0                  State Abbreviation
1                Alabama           AL
2                 Alaska           AK
3                Arizona           AZ
4               Arkansas           AR
5             California           CA
6               Colorado           CO
7            Connecticut           CT
8               Delaware           DE
9   District of Columbia           DC
10               Florida           FL
11               Georgia           GA
12                Hawaii           HI
13                 Idaho           ID
14              Illinois           IL
15               Indiana           IN
16                  Iowa           IA
17                Kansas           KS
18              Kentucky           KY
19             Louisiana           LA
20                 Maine           ME
21               Montana           MT
22              Nebraska           NE
23                Nevada           NV
24         New Hampshire           NH
25            New Jersey           NJ
26            New Mexico           NM
27              New York           NY
28        North Carolina           NC
29          North Dakota           ND
30                  Ohio           OH
31              Oklahoma           OK
32                Oregon           OR
33              Maryland           MD
34         Massachusetts           MA
35              Michigan           MI
36             Minnesota           MN
37           Mississippi           MS
38              Missouri           MO
39          Pennsylvania           PA
40          Rhode Island           RI
41        South Carolina           SC
42          South Dakota           SD
43             Tennessee           TN
44                 Texas           TX
45                  Utah           UT
46               Vermont           VT
47              Virginia           VA
48            Washington           WA
49         West Virginia           WV
50             Wisconsin           WI
51               Wyoming           WY

In [263]:
factCovid_1 = enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid_2 = covid_19_testing_data_in_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on='fips', how='inner')

In [269]:
factCovid.describe()

,fips,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
count,27992.000000,27992.000000,27992.000000,27992.000000,27992.000000,2.799200e+04,27992.000000,27992.000000,27992.000000,27992.000000,27992.000000
mean,25169.070199,194466.171549,19072.592384,149429.374393,116542.957274,2.021013e+07,265363.856959,205283.585953,961.735925,44985.069698,40723.916083
std,14483.852762,111858.430997,11023.514954,86637.090806,67251.520889,3.465022e+01,64478.083562,84223.698505,274.298965,25941.566769,22686.611586
min,1.000000,2.000000,3.000000,6.000000,16.000000,2.021012e+07,88373.000000,60001.000000,136.000000,4.000000,1504.000000
25%,12542.750000,97855.750000,9548.750000,73786.750000,58108.750000,2.021012e+07,289939.000000,132441.000000,1066.000000,22564.750000,21068.750000
50%,25345.500000,194960.500000,19030.500000,149631.500000,116647.500000,2.021012e+07,289939.000000,205104.500000,1066.000000,44805.000000,40696.500000
75%,37801.000000,290726.750000,28658.000000,223956.250000,174510.250000,2.021012e+07,289939.000000,278892.250000,1066.000000,67377.250000,60483.250000
max,49999.000000,387616.000000,38158.000000,299996.000000,233055.000000,2.021031e+07,289939.000000,349990.000000,1066.000000,89992.000000,79998.000000

In [273]:
factCovid

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,44744,Anhui,China,84049,3908,193665,20752,20210119,289939,305595,1066.0,31671,60440
1,30323,Beijing,China,351415,8327,278971,126002,20210119,289939,94682,1066.0,51158,20185
2,33149,Chongqing,China,240142,35080,124136,36692,20210119,289939,223743,1066.0,22924,1586
3,36817,Fujian,China,21464,32685,293005,103242,20210119,289939,144551,1066.0,54471,73810
4,6399,Gansu,China,137570,36831,170690,4655,20210119,289939,260819,1066.0,7842,2918
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27987,43612,Puerto Rico,US,99245,4508,235440,44925,20210123,90073,343604,325.0,87581,63171
27988,37335,Puerto Rico,US,289447,14050,98630,12436,20210122,89282,176866,341.0,87825,62430
27989,27675,Puerto Rico,US,119908,37134,272299,186653,20210121,88728,94036,344.0,60992,27906
27990,14596,Puerto Rico,US,233702,34850,265465,213674,20210120,88513,91853,331.0,76885,42164
27991,41765,Puerto Rico,US,242584,17465,17932,110707,20210119,88373,221316,351.0,15400,68498

In [182]:
dimRegion_1 = enigma_jhud[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2 = nytimes_data_in_usa_us_county[['fips','county','state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [183]:
dimRegion

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York
...,...,...,...,...,...,...,...
11752269,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752270,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752271,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752272,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming
11752273,56043.0,Wyoming,US,43.905,-107.680,Washakie,Wyoming

In [185]:
dimHospital = rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [186]:
dimHospital

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013,Arizona,33.495498,-112.066157,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019,Arizona,32.181263,-110.965885,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ
2,6019,California,36.773324,-119.779742,2615 E Clinton Ave,VA Central California Health Care System,VA Hospital,Fresno,CA
3,9009,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Connecticut Healthcare System - West Haven ...,VA Hospital,West Haven,CT
4,10003,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,Wilmington VA Medical Center,VA Hospital,Wilmington,DE
...,...,...,...,...,...,...,...,...,...
825,12103,Florida,27.825341,-82.702445,6000 49th St N,Northside Hospital,Short Term Acute Care Hospital,St Petersburg,FL
826,12103,Florida,27.915015,-82.803637,201 14th St Sw,Largo Medical Center,Short Term Acute Care Hospital,Largo,FL
827,12103,Florida,27.815581,-82.720100,6500 38th Ave N,St Petersburg General Hospital,Short Term Acute Care Hospital,Kenneth City,FL
828,12103,Florida,27.752612,-82.739687,1501 Pasadena Ave S,Palms of Pasadena Hospital,Short Term Acute Care Hospital,South Pasadena,FL
829,12103,Florida,27.953357,-82.802872,300 Pinellas St,Morton Plant Hospital,Short Term Acute Care Hospital,Clearwater,FL

In [235]:
dimDate = covid_19_testing_data_in_states_daily[['fips','date']]

In [236]:
dimDate

      fips      date
0      2.0  20210307
1      1.0  20210307
2      5.0  20210307
3     60.0  20210307
4      4.0  20210307
...    ...       ...
2680  49.0  20210119
2681  51.0  20210119
2682  78.0  20210119
2683  50.0  20210119
2684   NaN  20210119

[2685 rows x 2 columns]

In [237]:
dimDate.dtypes

fips    float64
date      int64
dtype: object

In [241]:
# dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d')
dimDate['d_date'] = dimDate['date']

C:\Users\jwali\AppData\Local\Temp/ipykernel_54628/608797009.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['d_date'] = dimDate['date']

In [242]:
dimDate.head()

   fips      date    d_date
0   2.0  20210307  20210307
1   1.0  20210307  20210307
2   5.0  20210307  20210307
3  60.0  20210307  20210307
4   4.0  20210307  20210307

In [244]:
dimDate['d_date'] = pd.to_datetime(dimDate['d_date'], format='%Y%m%d')

C:\Users\jwali\AppData\Local\Temp/ipykernel_54628/3574789469.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['d_date'] = pd.to_datetime(dimDate['d_date'], format='%Y%m%d')

In [245]:
dimDate['year'] = dimDate['d_date'].dt.year
dimDate['month'] = dimDate['d_date'].dt.month
dimDate['day_of_week'] = dimDate['d_date'].dt.dayofweek

C:\Users\jwali\AppData\Local\Temp/ipykernel_54628/2790993317.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['d_date'].dt.year
C:\Users\jwali\AppData\Local\Temp/ipykernel_54628/2790993317.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['d_date'].dt.month
C:\Users\jwali\AppData\Local\Temp/ipykernel_54628/2790993317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['d_date'].dt.dayofweek

In [246]:
dimDate.head()

   fips      date     d_date  year  month  day_of_week
0   2.0  20210307 2021-03-07  2021      3            6
1   1.0  20210307 2021-03-07  2021      3            6
2   5.0  20210307 2021-03-07  2021      3            6
3  60.0  20210307 2021-03-07  2021      3            6
4   4.0  20210307 2021-03-07  2021      3            6

In [274]:
bucket = 'covid-dwbi-project'

In [275]:
csv_buffer = StringIO()
csv_buffer

In [276]:
factCovid.to_csv(csv_buffer)

In [277]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())

{'ResponseMetadata': {'RequestId': '9QWR7PYKTMY7BYPB',
  'HostId': 'JvM/DRN+34NoiryPxyOyICjaXwzsoWkccvaTqQ8Y55BMuncUrLabeHZZyl+QD9f6JQGRwj+ZNKU=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'JvM/DRN+34NoiryPxyOyICjaXwzsoWkccvaTqQ8Y55BMuncUrLabeHZZyl+QD9f6JQGRwj+ZNKU=',
   'x-amz-request-id': '9QWR7PYKTMY7BYPB',
   'date': 'Wed, 17 Apr 2024 17:08:42 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"799895c3d606f55a7b5bb28a3b1508e4"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"799895c3d606f55a7b5bb28a3b1508e4"',
 'ServerSideEncryption': 'AES256'}

In [278]:
csv_buffer1 = StringIO()
csv_buffer1

In [199]:
dimRegion.to_csv(csv_buffer1)

In [200]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimRegion.csv').put(Body=csv_buffer1.getvalue())

{'ResponseMetadata': {'RequestId': '8WTW6Q39TAJZT0RH',
  'HostId': '4eY11jLjmUSRin1GccNYa9K14NEVXmXByhMClVbYDCKO9e2vj/riogIZJpV1oyHnYgQ69bwFeIhk+pv2xU230Q==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': '4eY11jLjmUSRin1GccNYa9K14NEVXmXByhMClVbYDCKO9e2vj/riogIZJpV1oyHnYgQ69bwFeIhk+pv2xU230Q==',
   'x-amz-request-id': '8WTW6Q39TAJZT0RH',
   'date': 'Wed, 17 Apr 2024 15:53:19 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"2fdf65265c31f0f6e8c02b4bd066d670"',
   'server': 'AmazonS3',
   'content-length': '0',
   'connection': 'close'},
  'RetryAttempts': 0},
 'ETag': '"2fdf65265c31f0f6e8c02b4bd066d670"',
 'ServerSideEncryption': 'AES256'}

In [201]:
csv_buffer2 = StringIO()
csv_buffer2

In [202]:
dimHospital.to_csv(csv_buffer2)

In [203]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimHospital.csv').put(Body=csv_buffer2.getvalue())

{'ResponseMetadata': {'RequestId': 'PFPHQ59WRX8GF1AF',
  'HostId': 'BtiS58WMYn61HQ35p4JalcDgKT2fXfMY2bm5ucnKvBNTwU5gtpPo0l8DtG/5Efgkmold4nUth84=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'BtiS58WMYn61HQ35p4JalcDgKT2fXfMY2bm5ucnKvBNTwU5gtpPo0l8DtG/5Efgkmold4nUth84=',
   'x-amz-request-id': 'PFPHQ59WRX8GF1AF',
   'date': 'Wed, 17 Apr 2024 15:58:09 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"8bb777835f37bd5f468c77e6a8cb111a"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"8bb777835f37bd5f468c77e6a8cb111a"',
 'ServerSideEncryption': 'AES256'}

In [247]:
csv_buffer3 = StringIO()
csv_buffer3

In [248]:
dimDate.to_csv(csv_buffer3)

In [249]:
s3_resource = boto3.resource('s3')
s3_resource.Object(bucket, 'output/dimDate.csv').put(Body=csv_buffer3.getvalue())

{'ResponseMetadata': {'RequestId': '442PEVHS93JKM5X9',
  'HostId': 'fBGdF767lWa0VAHDCbA+946o2ymJJnab638PxfaFfgYKTxM2/r402686qjdIVZUawAa9tvciX3SrWw1fIzdOY9cX1ESaamBGa2cgo87zYV8=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'fBGdF767lWa0VAHDCbA+946o2ymJJnab638PxfaFfgYKTxM2/r402686qjdIVZUawAa9tvciX3SrWw1fIzdOY9cX1ESaamBGa2cgo87zYV8=',
   'x-amz-request-id': '442PEVHS93JKM5X9',
   'date': 'Wed, 17 Apr 2024 17:05:44 GMT',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"a4af9c33470b972374805d300f9ac18d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"a4af9c33470b972374805d300f9ac18d"',
 'ServerSideEncryption': 'AES256'}

In [250]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" INTEGER,
  "d_date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [279]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" INTEGER,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" INTEGER,
  "deaths" INTEGER,
  "recovered" INTEGER,
  "active" INTEGER,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" INTEGER,
  "hospitalizedcurrently" REAL,
  "hospitalized" INTEGER,
  "hospitalizeddischarged" INTEGER
)

In [252]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [253]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [254]:
pip install redshift_connector

Requirement already satisfied: redshift_connector in c:\users\jwali\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: scramp<1.5.0,>=1.2.0 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (1.4.5)
Requirement already satisfied: lxml>=4.6.5 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (5.2.1)
Requirement already satisfied: packaging in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (21.0)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (1.34.79)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (2.26.0)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (1.34.79)
Requirement already satisfied: setuptools in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (58.0.4)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (4.10.0)Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -rotobuf (c:\users\jwali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\jwali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\jwali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\jwali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\jwali\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\jwali\anaconda3\lib\site-packages)

Requirement already satisfied: pytz>=2020.1 in c:\users\jwali\anaconda3\lib\site-packages (from redshift_connector) (2021.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\jwali\anaconda3\lib\site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift_connector) (2.2.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\jwali\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (1.0.1)
Requirement already satisfied: s3transfer<0.11.0,>=0.10.0 in c:\users\jwali\anaconda3\lib\site-packages (from boto3<2.0.0,>=1.9.201->redshift_connector) (0.10.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\jwali\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\jwali\anaconda3\lib\site-packages (from botocore<2.0.0,>=1.12.201->redshift_connector) (1.26.7)
Requirement already satisfied: six>=1.5 in c:\users\jwali\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift_connector) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jwali\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\jwali\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jwali\anaconda3\lib\site-packages (from requests<3.0.0,>=2.23.0->redshift_connector) (3.2)
Requirement already satisfied: asn1crypto>=1.5.1 in c:\users\jwali\anaconda3\lib\site-packages (from scramp<1.5.0,>=1.2.0->redshift_connector) (1.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\jwali\anaconda3\lib\site-packages (from packaging->redshift_connector) (3.0.4)

In [255]:
import redshift_connector

In [256]:
from sqlalchemy import create_engine
 
# Prepare the connection URL for Redshift
url = 'redshift+psycopg2://awsuser:Myredshiftcluster1@redshift-cluster-1.cbkbxs0tv3tj.us-east-1.redshift.amazonaws.com:5439/dev'
 
# Create the SQLAlchemy engine
engine = create_engine(url)
 
# Test the connection
try:
    with engine.connect() as connection:
        result = connection.execute("SELECT 'Hello, Redshift!' as Message")
        print(result.fetchone())
except Exception as e:
    print("An error occurred:", e)

('Hello, Redshift!',)

In [285]:
# Connects to Redshift cluster using AWS credentials
from sqlalchemy import create_engine
conn = redshift_connector.connect(
    host='redshift-cluster-1.cbkbxs0tv3tj.us-east-1.redshift.amazonaws.com',
    port='5439',
    database='dev',
    user='awsuser',
    password='Myredshiftcluster1'
 )

In [286]:
conn.autocommit = True

In [287]:
cursor = redshift_connector.Cursor = conn.cursor()

In [288]:
cursor.execute(""" 
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" INTEGER,
  "d_date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)""")

In [289]:
cursor.execute(""" 
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" INTEGER,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" INTEGER,
  "deaths" INTEGER,
  "recovered" INTEGER,
  "active" INTEGER,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" INTEGER,
  "hospitalizedcurrently" REAL,
  "hospitalized" INTEGER,
  "hospitalizeddischarged" INTEGER
)""")

In [290]:
cursor.execute(""" 
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)""")

In [291]:
cursor.execute(""" 
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" INTEGER,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)""")

In [292]:
cursor.execute(""" 
copy dimDate from 's3://covid-dwbi-project/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::533267047854:role/service-role/AmazonRedshift-CommandsAccessRole-20240413T190926'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [293]:
cursor.execute(""" 
copy dimHospital from 's3://covid-dwbi-project/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::533267047854:role/service-role/AmazonRedshift-CommandsAccessRole-20240413T190926'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [294]:
cursor.execute(""" 
copy dimRegion from 's3://covid-dwbi-project/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::533267047854:role/service-role/AmazonRedshift-CommandsAccessRole-20240413T190926'
delimiter ','
region 'us-east-1'
IGNOREHEADER 1
""")

In [295]:
cursor.execute(""" 
copy factCovid from 's3://covid-dwbi-project/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::533267047854:role/service-role/AmazonRedshift-CommandsAccessRole-20240413T190926'
delimiter ','
region 'us-east-1'

IGNOREHEADER 1
""")